.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .search-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
  }

/* Personalización del outline */
.custom-outline .mat-form-field-outline {
    color: #3f51b5; /* Color del borde */
}

.custom-outline .mat-form-field-outline-thick {
    color: #bbcfd0; /* Color del borde enfocado */
}

.custom-outline .mat-form-field-label {
    color: #7b8d32; /* Color del label */
}

.custom-outline .mat-input-element {
    color: #333333; /* Color del texto */
}

.search-container {
  display: flex;
  gap: 20px; /* Espacio entre los campos de búsqueda */
  margin-bottom: 20px;
}

.search-group {
  display: flex;
  flex-direction: column;
}
